<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.aiden.runtimeagent</string>
  <key>ProgramArguments</key>
  <array>
    <string>__AIDEN_AGENT_BIN__</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>StandardOutPath</key>
  <string>__AIDEN_LOG_DIR__/runtimeagent.out.log</string>
  <key>StandardErrorPath</key>
  <string>__AIDEN_LOG_DIR__/runtimeagent.err.log</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>AIDEN_CONFIG_PATH</key>
    <string>__AIDEN_CONFIG_PATH__</string>
  </dict>
</dict>
</plist>
